﻿/*
 *  Document   : _bootstrapselect.scss
 *  Author     : RedStar Template
 *  Description: This scss file for bootstrap select item style classes
 */

//.bootstrap-select .bs-searchbox .form-control, .bootstrap-select .bs-actionsbox .form-control, .bootstrap-select .bs-donebutton .form-control
%extend_common {
	@include border-radius(0);
	@include box-shadow(none);
	border: none;
	margin-left: 30px;
}

.bootstrap-select {
	@include box-shadow(none !important);
	border-bottom: 1px solid #ada9a9 !important;
	@include border-radius(0);
	.dropdown-toggle {
		&:focus {
			outline: none !important;
		}
		&:active {
			outline: none !important;
		}
	}
	.bs-placeholder {
		margin-left: -25px;
	}
	.bs-searchbox {
		padding: 0 0 5px 0;
		border-bottom: 1px solid #e9e9e9;
		position: relative;
		.form-control {
			@extend %extend_common;
		}
		&:after {
			content: "";
			font-family: Material Icons;
			position: absolute;
			top: 0;
			left: 10px;
			font-size: 25px;
		}
	}
	.bs-actionsbox {
		padding: 0 0 5px 0;
		border-bottom: 1px solid #e9e9e9;
		.form-control {
			@extend %extend_common;
		}
	}
	.bs-donebutton {
		padding: 0 0 5px 0;
		border-bottom: 1px solid #e9e9e9;
		.form-control {
			@extend %extend_common;
		}
	}
	.dropdown-menu {
		.notify {
			background-color: #f44336 !important;
			color: #ffffff !important;
			border: none !important;
		}
		li.selected a {
			background-color: #eee !important;
			color: #555 !important;
		}
		.active a {
			background-color: transparent;
			color: #333 !important;
		}
	}
	&.btn-group {
		&.show-tick .dropdown-menu li.selected a span.check-mark {
			margin-top: 9px;
		}
		.dropdown-toggle .caret {
			right: -50px;
		}
		.filter-option {
			margin-left: -25px !important;
			text-transform: none;
		}
	}
	ul.dropdown-menu {
		margin-top: 0 !important;
	}
	.dropdown-toggle {
		display: none;
	}
}

.dropdown-toggle:after {
	display: none;
}

.select-wrapper {

	.dropdown-trigger {
		border-bottom: none !important;
	}
	input.select-dropdown{
		position: relative;
		cursor: pointer;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #9e9e9e !important;
		outline: none;
		height: 3rem;
		line-height: 3rem;
		width: 100%;
		font-size: 16px;
		margin: 0 0 8px 0;
		padding: 0;
		display: block;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		z-index: 1;
		}
}