﻿/*
 *  Document   : _breadscrumbs.scss
 *  Author     : RedStar Template
 *  Description: This scss file for breadscrumbs style classes
 */

.breadcrumb {
    @include border-radius(0);
    background-color: transparent;
    font-size: 15px;
    // margin-bottom: 10px;
    color: #555;
    margin: 0px;
    padding: 25px 0px 20px 0px;

    &:before{
        content: "";
        margin: 0;
    }

    li {
        display: inline-block;
        a {
            color: #444;
            text-decoration: none;

            .fa-home {
                font-size: 17px;
                position: relative;
                top: 0;
                float: left;
                padding-right: 3px;
                color: #9aa0ac;
            }
        }

        .material-icons {
            font-size: 18px;
            position: relative;
            top: 4px;
            float: none;
        }
        &.active{
            color: #777;
        }
    }

    > li + li:before {
        content: ">" !important;
        color: #777;
    }
    .page-title{
        border-right: 1px solid #c5c5c5;
        padding-right: 10px;
        font-size: 23px;
        font-weight: 600;
        color: #9aa0ac;
        margin-bottom: 0px;
    }
    .breadcrumb-item+.breadcrumb-item{
        padding-top: 3px;
    }
}

@each $key, $val in $colors {
    .breadcrumb-col-#{$key} {
        li {
            a {
                color: $val !important;
                font-weight: bold;
            }
        }
    }

    .breadcrumb-bg-#{$key} {
        background-color: $val !important;

        li {
            a {
                color: #fff;
                font-weight: bold;

                .material-icons {
                    padding-bottom: 8px;
                }
            }

            color: #fff !important;
        }

        li + li:before {
            color: #fff;
        }
    }
}
.breadcrumb-style{
    border-radius: 30px;
    float: right;
    /*background: #ffffff;
    padding-left: 20px !important;*/
}
.breadcrumb-chart{
	display: inline-block;
    .chart-info p{
        font-size: 13px;

    }

}