.theme-black .sidebar .menu .list li.active
{
    color: #f1d065;
    background-color: rgba(0,0,0,0.2);
}

.ml-menu li.active a
{
    color: #f1d065 !important;
    background-color: rgba(0,0,0,0.2);
}

button.dt-button, div.dt-button, a.dt-button{
    background-image: none !important;
}
.buttons-print, .buttons-csv, .buttons-excel, .buttons-pdf{
    height: auto !important;
    width: 70px;
}

.buttons-create
{
    background-color: #607d8b !important;
    border: none !important;
}

.paginate_button.current {
    height: 40px !important;
    width: 40px!important;
    border-radius: 50%!important;
    text-align: center!important;
    background: #000!important;
    color: #fff !important;
    position: relative!important;
    justify-content: center!important;
    align-self: center!important;
}