html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
    }

    html {
      line-height: 1;
    }

    ol, ul {
      list-style: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    caption, th, td {
      text-align: left;
      font-weight: normal;
      vertical-align: middle;
    }

    q, blockquote {
      quotes: none;
    }
    q:before, q:after, blockquote:before, blockquote:after {
      content: "";
      content: none;
    }

    a img {
      border: none;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
      display: block;
    }

    body {
      font-family: 'Open Sans', sans-serif;font-size: 16px;margin: 0;color: #202020;background-color: #F5F5F5;
    }
    body a {
      text-decoration: none;
      color: inherit;
    }
    body a:hover {
      color: inherit;
    }
    *, ::after, ::before {
      box-sizing: border-box;
    }
    body .container {
      min-width: 500px;
      margin: 0 auto;
      padding: 0 20px;
    }
    body .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    body .left {
      float: left;
    }
    body .right {
      float: right;
    }
    body .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    body .no-break {
      page-break-inside: avoid;
    }
    .ic-coverletter-name-holder{
      width: 30%;margin: 0 auto 80px;margin-top: 80px;
    }
    .ic-coverletter-name-holder h2{
      margin:0;padding-bottom: 10px;text-align: center;width: 100%;font-size: 30px;font-weight: 600;color: #1074FF;
    }
    .ic-coverletter-page-inner:first-child .ic-coverletter-box {
      padding-top: 0px;
    }
    .ic-coverletter-box {
      height: auto;
      position: relative;
      padding-top: 40px;
    }
    .ic-coverletter-box-top {
      padding-top: 75px;
      padding-bottom: 30px;
    }
    .ic-coverletter-top-header-right,
    .ic-coverletter-top-header-left{
      width: 50%;float: left;
    }
    .ic-coverletter-top-header-right {
      padding-left: 46px;
      padding-right: 90px;
    }
    .ic-coverletter-header-left:nth-child(2) {
      width: 100%;
    }
    .ic-coverletter-header-left {
      float: left;
      max-width: 100%;
      margin-bottom: 20px;
    }
    .ic-coverletter-page-wrapper {
      width: 1190px!important;
      min-height: 1684px!important;
    }
    .ic-coverletter-us-format-page.ic-coverletter-page-wrapper {
      width: 1224px!important;
      min-height: 1584px!important;
    }
    .ic-coverletter-page-wrapper {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      z-index: 99;
    }
    .ic-coverletter-page-inner:last-child {
      margin-bottom: 0;
    }
    
    .ic-coverletter-page-inner {
      position: relative;
      margin-bottom: 100px;
      padding-bottom: 102px;
      background-color: #fff;
    }
    .ic-coverletter-page-inner {
      width: 1190px!important;
      min-height: 1684px!important;
    }
    .ic-coverletter-us-format-page .ic-coverletter-page-inner {
      width: 1224px!important;
      min-height: 1584px!important;
    }
    .ic-coverletter-box-name-holder {
      padding-right: 26px;
      padding-bottom: 30px;
      padding-left: 90px;
      position: relative;
    }
    div#ic-coverletter-full-name {
      word-wrap: break-word;
      font-size: 46px;
      min-height: 46px;
      line-height: 48px;
      color: #202020;
      margin-left: -1px;
    }
    #ic-coverletter-title{
      margin-top: 2px;
    }
    .ic-coverletter-title-text {
      color: #202020;
      font-size: 24px;
      min-height: 24px;
      line-height: 26px;
      padding-bottom: 2px;
      display: inline-block;
      word-wrap: break-word;
    }
    #ic-coverletter-creation-date, .ic-coverletter-company-details {
      margin-left: 90px;
      padding-right: 26px;
    }
    .ic-coverletter-field-holder {
      display: block;
      overflow: hidden;
      margin-bottom: 4px;
    }
    .ic-coverletter-field-label {
      font-size: 16px;
      min-height: 16px;
      line-height: 18px;
      font-style: italic;
      color: #7c7c7c;
    }
    .ic-coverletter-company-details-text {
      font-size: 24px;
      min-height: 24px;
      line-height: 26px;
    }
    #ic-coverletter-creation-date {
      color: #7c7c7c;
      font-size: 24px;
      min-height: 24px;
      line-height: 26px;
    }
    .ic-coverletter-contact-item:first-child {
      margin-top: 0;
    }
    .ic-coverletter-contact-item {
      margin-top: 18px;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .ic-coverletter-contact-item a {
      color: #202020;
      margin-right: 10px;
    }
    .ic-coverletter-contact-item svg {
      width: 18px;
      height: 18px;
    }
    .ic-coverletter-contact-item svg polygon, .ic-coverletter-contact-item svg path {
      fill: #1E87FF;
    }

    .ic-cover-letter-content {
      padding-right: 90px;
      padding-left: 90px;
      position: relative;
    }
    #ic-cover-letter-content-text {
      width: 100%;
      box-sizing: border-box;
      padding: 10 0px;
      font-size: 18px;
      line-height: 22px;
    }
    #ic-cover-letter-content-text p{
      margin-bottom: 20px;
    }
    #ic-cover-letter-content-text p:last-child{
      margin-bottom: 0;
    }
    .ic-cover-letter-signature {
      margin-top: 60px;
      padding-left: 90px;
      padding-right: 90px;
    }
    .ic-coverletter-title-signature-label {
      display: inline-block;
      font-size: 18px;
      min-height: 18px;
      line-height: 22px;
      width: auto;
    }
    .ic-coverletter-title-signature-text {
      font-size: 18px;
      min-height: 18px;
      line-height: 22px;
    }

    /*-----------background----------------*/
    .ic-bg-skin-bottom, .ic-bg-skin-top {
      height: 842px!important;
    }
    .ic-bg-skin-bottom, .ic-bg-skin-top {
      position: absolute!important;
      width: 100%;
      background-size: cover!important;
    }
    .ic-bg-skin-top {
      top: 0!important;
      background-position: left top!important;
    }
    .ic-bg-skin-bottom {
      bottom: 0!important;
      background-position: left bottom!important;
    }
    .ic-coverletter-page-wrapper[d-bg="bg-1"] #theme-bg-1, .ic-coverletter-page-wrapper[d-bg="bg-2"] #theme-bg-2, .ic-coverletter-page-wrapper[d-bg="bg-3"] #theme-bg-3, .ic-coverletter-page-wrapper[d-bg="bg-4"] #theme-bg-4, .ic-coverletter-page-wrapper[d-bg="bg-5"] #theme-bg-5, .ic-coverletter-page-wrapper[d-bg="bg-6"] #theme-bg-6, .ic-coverletter-page-wrapper[d-bg="bg-7"] #theme-bg-7, .ic-coverletter-page-wrapper[d-bg="bg-8"] #theme-bg-8, .ic-coverletter-page-wrapper[d-bg="bg-9"] #theme-bg-9, .ic-coverletter-page-wrapper[d-bg="bg-10"] #theme-bg-10, .ic-coverletter-page-wrapper[d-bg="bg-11"] #theme-bg-11, .ic-coverletter-page-wrapper[d-bg="bg-12"] #theme-bg-12, .ic-coverletter-page-wrapper[d-bg="bg-13"] #theme-bg-13, .ic-coverletter-page-wrapper[d-bg="bg-14"] #theme-bg-14, .ic-coverletter-page-wrapper[d-bg="bg-15"] #theme-bg-15, .ic-coverletter-page-wrapper[d-bg="bg-16"] #theme-bg-16, .ic-coverletter-page-wrapper[d-bg="bg-17"] #theme-bg-17, .ic-coverletter-page-wrapper[d-bg="bg-18"] #theme-bg-18, .ic-coverletter-page-wrapper[d-bg="bg-19"] #theme-bg-19, .ic-coverletter-page-wrapper[d-bg="bg-20"] #theme-bg-20 {
      display: block;
    }
    .ic-coverletter-page-wrapper .ic-bg-skin-top svg, .ic-coverletter-page-wrapper .ic-bg-skin-bottom svg {
      display: none;
    }
    .ic-bg-skin-top svg {
      top: 0;
    }
    .ic-bg-skin-bottom svg {
      bottom: 0;
    }
    .ic-bg-skin-bottom svg, .ic-bg-skin-top svg {
      position: absolute;
    }
    .ic-coverletter-us-format-page.ic-coverletter-page-wrapper .ic-bg-skin-top, .ic-coverletter-us-format-page.ic-coverletter-page-wrapper .ic-bg-skin-bottom {
      height: 792px!important;
    }


    /*===============================================================================
    =========================== Coverletter Template Design =========================
    ===============================================================================*/
    .coverletter-template #template-functional .ic-coverletter-title-text:focus{
      border-bottom:1px solid #fff;
    }
    .coverletter-template #template-functional .ic-coverletter-box-name-holder{
      background-color: #1E87FF;
    }
    .coverletter-template #template-functional div#ic-coverletter-full-name{
      color: #fff;
    }
    .coverletter-template #template-functional .ic-coverletter-title-text{
      color:#fff;
    }
    .coverletter-template #template-functional .ic-coverletter-title-text[contenteditable=true]:empty:before {
      color: #fff;
    }
    .coverletter-template #template-functional .ic-coverletter-box-name-holder{
      padding: 20px 24px 26px 90px;
    }

    /*------------Template 2 --------------*/
    .coverletter-template #template-modern .ic-coverletter-title-text[contenteditable=true]:empty:before,
    .coverletter-template #template-modern .ic-coverletter-title-text{
      color: #1E87FF;
    }
    .coverletter-template #template-modern .ic-coverletter-box-name-holder::before {
      content: " "!important;
      display: block!important;
      position: absolute;
      background: url(template-2.svg) no-repeat;
      background-size: 100px 100px;
      left: 40px;
      top: -40px;
      width: 100px;
      height: 100px;
    }
    .coverletter-template #template-modern .ic-coverletter-bottom-svg{
      content: " "!important;
      display: block!important;
      position: absolute;
      background: url(template-2.svg) no-repeat;
      background-size: 100px 100px;
      right: 40px;
      bottom:50px;
      width: 100px;
      height: 100px;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }

    /*------------Template 3 --------------*/
    .coverletter-template #template-simple .ic-coverletter-top-header{
      padding-top: 10px;
    }
    .coverletter-template #template-simple .ic-coverletter-box-name-holder::before {
      content: ""!important;
      position: absolute;
      background:#1E87FF;
      width: 270px;
      left: 0px;
      top: -6px;
      height: 2px;
    }
    .coverletter-template #template-simple .ic-coverletter-title-text[contenteditable=true]:empty:before,
    .coverletter-template #template-simple .ic-coverletter-title-text{
      color: #1E87FF;
    }
    .coverletter-template #template-simple .ic-coverletter-bottom-svg{
      content: " "!important;
      position: absolute;
      background:#1E87FF;
      width: 270px;
      right: 0px;
      bottom: 70px;
      height: 2px;
    }
    /*------------Template 4 --------------*/
    .coverletter-template #template-creative.ic-coverletter-scrollbar-part,
    .coverletter-template .ic-coverletter-scrollbar-part.template-creative{
      display: none;
    }
    .coverletter-template #template-creative .ic-coverletter-top-header,
    .coverletter-template #template-creative.ic-coverletter-scrollbar-part.template-creative{
      display: block;
    }
    .coverletter-template #template-creative .ic-coverletter-top-header-right{
      width: 100%;
      float: none;
      display: flex;
      padding-right: 90px;
      padding-left: 90px;
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgba(0,0,0,.5);
    }
    .coverletter-template #template-creative .ic-coverletter-top-header-left{
      width: 100%;
      float: none;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-item {
      text-align: left;
      width: 50%;
      float: left;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: flex-start;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-item:nth-child(2n+1){
      padding-right: 70px;
      clear: both;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-item a{
      order:2;
      margin-right: 0;
      margin-left: 10px;
    }
    .coverletter-template #template-creative .ic-coverletter-box-top {
      padding-bottom: 0;
      background: #9E2B6F;
      margin-bottom: 30px;
    }
    .coverletter-template #template-creative .ic-coverletter-box-name-holder{
      padding-bottom: 0;
      padding-right: 90px;
    }
    .coverletter-template #template-creative .ic-coverletter-header-left {
      float: none;
      margin-bottom: 50px;
    }
    .coverletter-template #template-creative .ic-coverletter-title-text[contenteditable=true]:empty:focus:before{
      color:#969696 !important;
    }
    .coverletter-template #template-creative .ic-coverletter-title-text[contenteditable=true]:empty:before,
    .coverletter-template #template-creative .ic-coverletter-contact-item a,
    .coverletter-template #template-creative .ic-coverletter-title-text,
    .coverletter-template #template-creative div#ic-coverletter-full-name{
      color:#fff !important;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-item svg polygon,
    .coverletter-template #template-creative .ic-coverletter-contact-item svg path {
      fill: #fff;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-item:nth-of-type(2){
      margin-top: 0 !important;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-item:nth-of-type(2n+1){
      clear: both;
    }
    .coverletter-template #template-creative .contact-issue .ic-coverletter-revision-message,
    .coverletter-template #template-creative .contact-issue .ic-coverletter-revision-message-count {
      top: -2px;
      left: -35px;
      right: auto;
    }
    .coverletter-template #template-creative .contact-issue .ic-coverletter-suggestion-message,
    .coverletter-template #template-creative .contact-issue .ic-coverletter-suggestion-message-count {
      top: -2px;
      left: -35px;
      right: auto;
    }
    .coverletter-template #template-creative .contact-issue .ic-coverletter-feedback-message,
    .coverletter-template #template-creative .contact-issue .ic-coverletter-feedback-message-count {
      top: -2px;
      left: -35px;
      right: auto;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-items .ic-feedback-count {
      top: -10px;
      left: -35px;
      right: auto;
    }
    .coverletter-template #template-creative .ic-coverletter-top-header-right .ic-container-feedback-wrap{
      left: 90px;
    }
    .coverletter-template #template-creative .ic-coverletter-contact-items {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    /*------------Template 5 --------------*/
    .coverletter-template #template-basic div#ic-coverletter-full-name{
      color: #1E87FF;
    }

    /*------------Template 6 --------------*/
    .coverletter-template #template-professional div#ic-coverletter-full-name{
      color: #9E2B6F;
    }
    .coverletter-template #template-professional .ic-coverletter-contact-item svg path,
    .coverletter-template #template-professional .ic-coverletter-contact-item svg polygon {
      fill: #9E2B6F;
    }
    .coverletter-template #template-professional .ic-coverletter-title-text[contenteditable=true]:empty:focus:before{
      color:#969696 !important;
    }
    .coverletter-template #template-professional .ic-coverletter-title-text,
    .coverletter-template #template-professional .ic-coverletter-title-text[contenteditable=true]:empty:before{
      color:#1E87FF !important;
    }
    .coverletter-template #template-professional .ic-coverletter-box-name-holder::before {
      content: ""!important;
      position: absolute;
      background:#9E2B6F;
      width: 70px;
      left: 0px;
      top: 6px;
      height: 74px;
    }

    /*------------Template 7 --------------*/
    .coverletter-template #template-college div#ic-coverletter-full-name{
      color: #1E87FF;
    }
    .coverletter-template #template-college .ic-coverletter-header-left{
      float: none;
    }
    .coverletter-template #template-college .ic-coverletter-box-name-holder {
      padding-bottom: 8px;
      padding-top: 8px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-color: #1E87FF;
    }

    /*------------Template 8 --------------*/
    .coverletter-template #template-executive div#ic-coverletter-full-name{
      color: #1E87FF;
    }
    .coverletter-template #template-executive .ic-coverletter-box-top {
      background: #F1F1F1;
      margin-bottom: 40px;
    }

    /*================= Coverletter Fonts ===============================*/
    .ic-coverletter-page-wrapper[d-font="ubuntu"]{
      font-family: 'Ubuntu', sans-serif;
    }
    .ic-coverletter-page-wrapper[d-font="raleway"]{
      font-family: 'Raleway', sans-serif;
    }
    .ic-coverletter-page-wrapper,
    .ic-coverletter-page-wrapper[d-font="roboto"]{
      font-family: 'Roboto', sans-serif;
    }
    .ic-coverletter-page-wrapper[d-font="quicksand"]{
      font-family: 'Quicksand', sans-serif;
    }
    .ic-coverletter-page-wrapper[d-font="overpass"]{
      font-family: 'Overpass', sans-serif;
    }
    .ic-coverletter-page-wrapper[d-font="merriweather-sans"]{
      font-family: 'Merriweather Sans', sans-serif;
    }
    .ic-coverletter-page-wrapper[d-font="hind"]{
      font-family: 'Hind', sans-serif;
    }
    .ic-coverletter-page-wrapper[d-font="lora"]{
      font-family: 'Lora', serif;
    }
    .ic-coverletter-page-wrapper[d-font="cormorant"]{
      font-family: 'Cormorant Garamond', serif;
    }
    .ic-coverletter-page-wrapper[d-font="rokkitt"]{
      font-family: 'Rokkitt', serif;
    }
    .ic-coverletter-page-wrapper[d-font="merriweather"]{
      font-family: 'Merriweather', serif;
    }
    .ic-coverletter-page-wrapper[d-font="lusitana"]{
      font-family: 'Lusitana', serif;
    }
    /*================= Coverletter Font Size ===============================*/
    .ic-small-font-size #ic-coverletter-creation-date,
    .ic-small-font-size .ic-coverletter-company-details-text,
    .ic-small-font-size .ic-coverletter-title-text{
      font-size:22px;
      min-height: 22px;
      line-height: 24px;
    }
    .ic-small-font-size .ic-coverletter-field-label{
      font-size:14px;
      min-height: 14px;
      line-height: 16px;
    }
    .ic-small-font-size #ic-cover-letter-content-text{
      font-size: 16px;
      line-height: 20px;
    }
    .ic-small-font-size .ic-coverletter-title-signature-text,
    .ic-small-font-size .ic-coverletter-title-signature-label,
    .ic-small-font-size #ic-cover-letter-content-text p{
      font-size: 16px;
      min-height: 16px;
      line-height: 20px;
    }



    .ic-small-font-size .ic-resume-box-name-holder div#ic-coverletter-full-name {
      font-size: 46px;
    }
    .ic-small-font-size .ic-resume-single-slot-place-text,
    .ic-small-font-size .ic-resume-single-slot-title-text,
    .ic-small-font-size .ic-resume-box-name-holder .ic-coverletter-title-text {
      font-size: 22px !important;
      min-height: 22px;
      line-height: 24px !important;
    }
    .ic-small-font-size .ic-resume-single-slot-skill-text,.ic-small-font-size .ic-resume-single-slot-date-text,
    .ic-small-font-size .ic-resume-interest-icontitle-text, .ic-small-font-size .ic-resume-cause-icontitle-text,
    .ic-small-font-size .ic-resume-single-slot-group-name-text,.ic-small-font-size .ic-resume-single-slot-extra-text,.ic-small-font-size .ic-resume-single-slot-author-list-text,.ic-small-font-size .ic-resume-single-slot-titlex,
    .ic-small-font-size .ic-coverletter-title-sumury-text {
      font-size: 16px !important;
      min-height: 16px;
      line-height: 20px !important;
    }
    .ic-small-font-size .ic-resume-single-slot-contact-info-text, .ic-small-font-size .ic-resume-single-slot-contact-person-text,
    .ic-small-font-size .ic-resume-single-slot-contact-label,.ic-small-font-size .ic-resume-single-slot-contact-text.editable-div,
    .ic-small-font-size .ic-resume-single-slot-list-text,.ic-small-font-size .ic-resume-single-slot-author-text, .ic-small-font-size .ic-resume-single-slot-type-text,
    .ic-small-font-size .ic-resume-single-slot-list-header-text,
    .ic-small-font-size .ic-resume-single-slot-desc-text,
    .ic-small-font-size .ic-resume-single-slot-location-text,
    .ic-small-font-size .ic-resume-language-label-holder,
    .ic-small-font-size .ic-resume-single-slot-period-class {
      font-size: 14px!important;
      min-height: 14px;
      line-height: 16px!important;
    }
    .ic-small-font-size .ic-resume-single-slot-name-text {
      font-size: 18px!important;
      min-height: 18px;
      line-height: 20px!important;
    }
    .ic-small-font-size .ic-resume-single-slot-content-text .ic-resume-single-slot-list-item-bullet{
      top:3px !important;
    }
    .ic-small-font-size .ic-resume-single-slot-content-text .ic-resume-single-slot-contact-separator{
      line-height: 16px;
    }
    /*======= Coverletter large Font Size =========*/
    .ic-large-font-size .ic-resume-box-name-holder div#ic-coverletter-full-name {
      font-size: 46px;
    }
    .ic-large-font-size #ic-coverletter-creation-date,
    .ic-large-font-size .ic-coverletter-company-details-text,
    .ic-large-font-size .ic-coverletter-title-text{
      font-size: 26px;
      min-height: 26px;
      line-height: 28px;
    }
    .ic-large-font-size .ic-coverletter-field-label{
      font-size:18px;
      min-height: 18px;
      line-height: 20px;
    }
    .ic-large-font-size .ic-coverletter-contact-item{
      font-size: 18px;
      line-height: 22px;
    }
    .ic-large-font-size #ic-cover-letter-content-text{
      font-size: 20px;
      line-height: 24px;
    }
    .ic-large-font-size .ic-coverletter-title-signature-text,
    .ic-large-font-size .ic-coverletter-title-signature-label,
    .ic-large-font-size #ic-cover-letter-content-text p{
      font-size: 20px;
      min-height: 20px;
      line-height: 24px;
    }


    .ic-large-font-size .ic-resume-single-slot-place-text,
    .ic-large-font-size .ic-resume-single-slot-title-text,
    .ic-large-font-size .ic-resume-box-name-holder .ic-coverletter-title-text {
      font-size: 26px !important;
      min-height: 26px;
      line-height: 28px !important;
    }
    .ic-large-font-size .ic-resume-single-slot-skill-text,.ic-large-font-size .ic-resume-single-slot-date-text,
    .ic-large-font-size .ic-resume-interest-icontitle-text, .ic-large-font-size .ic-resume-cause-icontitle-text,
    .ic-large-font-size .ic-resume-single-slot-group-name-text,.ic-large-font-size .ic-resume-single-slot-extra-text,.ic-large-font-size .ic-resume-single-slot-author-list-text,.ic-large-font-size .ic-resume-single-slot-titlex,
    .ic-large-font-size .ic-coverletter-title-sumury-text {
      font-size: 20px !important;
      min-height: 20px;
      line-height: 24px !important;
    }
    .ic-large-font-size .ic-resume-single-slot-contact-info-text, .ic-large-font-size .ic-resume-single-slot-contact-person-text,
    .ic-large-font-size .ic-resume-single-slot-contact-label,.ic-large-font-size .ic-resume-single-slot-contact-text.editable-div,
    .ic-large-font-size .ic-resume-single-slot-list-text,.ic-large-font-size .ic-resume-single-slot-author-text, .ic-large-font-size .ic-resume-single-slot-type-text,
    .ic-large-font-size .ic-resume-single-slot-list-header-text,
    .ic-large-font-size .ic-resume-single-slot-desc-text,
    .ic-large-font-size .ic-resume-single-slot-location-text,
    .ic-large-font-size .ic-resume-language-label-holder,
    .ic-large-font-size .ic-resume-single-slot-period-class {
      font-size: 18px!important;
      min-height: 18px;
      line-height: 20px!important;
    }
    .ic-large-font-size .ic-resume-single-slot-name-text {
      font-size: 20px!important;
      min-height: 20px;
      line-height: 22px!important;
    }
    .ic-large-font-size .ic-coverletter-contact-item a{
      font-size: 18px !important;
      line-height: 22px !important;
    }
    .ic-large-font-size .ic-resume-single-slot-content-text .ic-resume-single-slot-list-item-bullet{
      top:8px;
    }
    .ic-large-font-size .ic-resume-single-slot-content-text .ic-resume-single-slot-contact-separator{
      line-height: 20px;
    }