 /*
 *  Document   : _calendar.scss
 *  Author     : RedStar Theme
 *  Description: This scss file for style related to calendar app
 */
  
  #wrap {
    width: 100%;
    margin: 0 auto;
  }
  #external-events {
    float: left;
    width: 100%;
    text-align: left;
    h4 {
      font-size: 16px;
      margin-top: 0;
      padding-top: 1em;
    }
    .fc-event {
      margin: 10px 0;
      cursor: pointer;
      padding: 5px;
    }
    p {
      margin: 1.5em 0;
      font-size: 11px;
      color: #666;
      input {
        margin: 0;
        vertical-align: middle;
      }
    }
    .material-icons {
      color: #fff;
      font-size: 16px;
    }
  }
#event_title{
	font-size: 1.2rem;
}
  #calendar {
    float: right;
    width: 100%;
  }
.fc-event{
 border: 0px !important; 
 color: #fff !important; 
 background-color: #ff5722;
 box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}
.fc-state-active {
  background: #a389D4 !important;
  color: #fff;
}
.fc-unthemed td.fc-today {
    background: #edeef3;
}
.fc-day-grid-event {
  // background-color: #49cdd0 !important;
  color: white !important;
    padding: 3px;
    text-align: center;
    font-size: 11px;
    margin: 0px 3px;
}
.label-event-meeting{
	background: linear-gradient(45deg, #9ce89d, #cdfa7e) !important;
}
.label-event-holiday{
	background: linear-gradient(45deg, #a890d3, #edbae7) !important;
}
.label-event-birthday{
	background: linear-gradient(45deg, #fda582, #f7cf68) !important;
}
.label-event-competition{
  background: linear-gradient(45deg, #72c2ff, #86f0ff) !important;
}
.label-event-dinner{
	background: linear-gradient(45deg, #9ce89d, #cdfa7e) !important;
}
.label-event-party{
	background: linear-gradient(45deg, #a890d3, #edbae7) !important;
}
.label-event-Untitled{
  background: linear-gradient(45deg, #fda582, #f7cf68) !important;
}
.fc-content-skeleton thead {
  border-bottom: none;
}
.fc-state-default {
  border: 1px solid #eee;
  background: transparent;
  color: #7e869d;
  border-radius: 0;
}
.fc-state-active {
  background: #a389D4 !important;
  color: #fff;
}
.deskCal {
	.fc-prev-button {
		margin-right: 10px;
		border-radius: 40px !important;
		text-align: center;
		min-width: 30px;
		height: 30px;
		background: #4caf50;
		color: white;
		border: 1px solid #4caf50;
		line-height: 0.9 !important;
		font-size: 0.76rem;
	}
	.fc-next-button {
		margin-left: 10px;
		border-radius: 40px !important;
		text-align: center;
		min-width: 30px;
		height: 30px;
		background: #4caf50;
		color: white;
		border: 1px solid #4caf50;
		line-height: 0.9 !important;
		font-size: 0.76rem;
	}
	.fc-today-button {
		padding: 0.4em 1.3em !important;
		height: 32px !important;
		border-radius: 50px;
		outline: initial !important;
		box-shadow: none !important;
		font-size: .8rem;
		background: #4caf50;
		opacity: 1;
		color: #fff;
	}
	.fc-toolbar h2 {
		font-size: 16px;
	}
	.fc-content-skeleton tr{
	  	border-bottom: 0px solid rgba(0,0,0,0.12);
	  }
}