﻿/*
 *  Document   : theme-blue.scss
 *  Author     : RedStar Template
 *  Description: This scss file for blue theme style classes
 */
@import '_theme-color-variables';

.theme-blue {

    .navbar {
        background-color: $theme-blue;
    }
    .navbar.active {
	    background-color: $theme-blue !important;
	    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        .nav {
            > li {
                > a {
                    color: #fff;
                }
            }
        }
        .sidemenu-collapse i{
            color: #fff;
        }
    }

    .nav {
        > li {
            > a {
                color: $theme-blue-nav-anchor;
                &:hover {
                    background-color: $theme-blue-nav-anchor_hover;
                    text-decoration: none;
                }

                &:focus {
                    background-color: $theme-blue-nav-anchor_focus;
                    text-decoration: none;
                }
            }
        }

    }

    .bars {
        color: $theme-blue-bar;
    }

    .sidebar {
        .menu {
            .list {
                li{
                    &.active {
                        background-color: $theme-blue-menu-list-active;

                        > :first-child {
                            i, span {
                                color: $theme-blue;
                            }
                        }
                    }
                    a{
                        -moz-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        i, span {
                            -moz-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                        }
                        &:hover {
                            color: $theme-blue;
                            i, span {
                                color: $theme-blue;
                            }
                        }
                    }
                }

                .ml-menu {
                    background-color: $theme-blue-menu-list-submenu;
                    .active{
                        a{
                            font-weight: 700;
                        }
                    }
                    li.active a.toggled:not(.menu-toggle):before{
                        background-color: $theme-blue;
                        border-color: $theme-blue;
                    }
                }
            }
            .menu-toggle.toggled:after{
                color: $theme-blue;
        }
        .active .menu-toggle{
            border-left: 2px solid $theme-blue;
        }
        }

        .legal {
            background-color: $theme-blue-legal-bg;

            .copyright {
                a {
                    color: $theme-blue !important;
                }
            }
        }
    }
    
    .breadcrumb li a {
        color: $theme-blue !important;
    }
    
    .card .header h2 strong {
        color: $theme-blue !important;
    }
    
    .page-item.active .page-link {
        background-color: $theme-blue;
        border-color: $theme-blue;
        color: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
    }
    
    .btn-primary {
        background-color: $theme-blue !important;
        color: #fff !important;
        border-color: $theme-blue !important;
        &:hover {
            background-color: $theme-blue !important;
            color: #fff !important;
        }
        &:active {
            background-color: $theme-blue !important;
            color: #fff !important;
        }
        &:focus {
            background-color: $theme-blue !important;
            color: #fff !important;
        }
        &:disabled {
            background-color: $theme-blue !important;
            color: #fff !important;
        }
    }
    .btn-outline-primary {
        background: 0 0 !important;
        color: $theme-blue !important;
        border: 1px solid $theme-blue !important;
        &:hover {
            background: $theme-blue !important;
            color: #fff !important;
            border: 1px solid $theme-blue !important;
        }
    }
    .timelineLabelColor strong{
        color: $theme-blue !important;
    }
    .top-sidebar{
        .horizontal-menu{
            li{
                &.active{
                    > a {
                        color: $theme-blue;
                    }
                }
                a{
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    &:hover {
                        color: $theme-blue;
                    }
                }
            }
        }
    }
    
    .nav-tabs > li > a:before {
        border-bottom: 2px solid $theme-blue;
    }
    .sidemenu-collapse i{
        color: #fff;
    }
}
/*Logo Header Background Color*/
.logo-blue{
    .navbar-header{
        background-color: $theme-blue;
    }
}
